.main-hero {
    width: 100%;
    min-width: 380px;
    position: relative;
    display: flex;
    height: 130vh;
    flex-direction: column;
    justify-content: center;
}
.main-hero video {
    object-fit: cover;
    overflow: hidden;
    height: 100%;
}

.cta-hero {
    display: flex;
    background-color: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(10px);
    justify-content: center;
    flex-direction: column;
    border-radius: 14px;
    align-items: center;
    position: absolute;
    padding: 3px;
}
.anchor-cta { 
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    position: relative;
    padding: 1rem;
    background: #020202;
    font-weight: 800;
    border-radius: 18px;
    margin: 1rem 0;
    display: flex;
    border: 2px solid #000;
}
.contact-svg {
    margin: auto 0;
    padding: 0 6px;
}
.cta-hero p {
    padding: 1rem;
    color: #fff;
    font-weight: 650;
    font-size: 1.139rem;
}
.cta-hero small {
    color: #fff;
}

@media (width <= 520px) {
    .anchor-cta {
        font-size: 1.65rem;
    }
}