.main-hero {

    min-width: 380px;
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}
.main-hero video {
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    top: 0;
}

.cta-hero {
    background-color: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(10px);
    border-radius: 14px;
    position: absolute;
    padding: 6px;
    z-index: 888;
    top: 40%;
}
.anchor-cta { 
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 1rem;
    background: #020202;
    font-weight: 800;
    border-radius: 18px;
    border: 2px solid #000;
}
.anchor-cta:hover {
    background-color: #2a2a2a;
}
.contact-svg {
    margin: auto 0;
    padding: 0 6px;
}
.cta-hero p {
    padding: 1rem;
    color: #fff;
    font-weight: 650;
    font-size: 1.139rem;
}
.cta-hero small {
    color: #fff;
}

@media (width <= 520px) {
    .anchor-cta {
        font-size: 1.65rem;
    }
}