.container-bg {
    background: #e5e7eb;
}
.burger-menu {
    display: none;
}
.logo-container a {
    border-radius: 50%;
}
.logo {
    mix-blend-mode: multiply;
}
.nav-bar {
    width: 50%;
}
.nav-bar-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-ul li {
    cursor: pointer;
}
.nav-bar-ul li:hover {
    background-color: #fae36e;
}
.menu-sections {
    list-style-type: none;
    
    margin: 0 1rem;
    padding: 8px;
    display: flex;
    align-items: center;
    font-family: custFont, serif;
    font-size: 1.43rem;
    text-transform: lowercase;
}

.menu-responsivo a:hover{
    background-color: #fae36e;
}
.menu-responsivo {
    background-color: #e5e7eb;
    position: relative;
    width: 100%;
    overflow: hidden;
    right: 0;
    bottom: -18%;
    display: none;
    gap: 20rem;
    flex-direction: column;
    z-index: 999;
}
.visible {
    display: flex;
    
    position: fixed;
}
.menu-responsivo a {
    text-decoration: none;
    font-size: 1.67rem;
    padding: 4px;
    color: #020202;
    font-family: 'Crimson', serif;
    display: flex;

    width: 100%;
    justify-content: space-around;
}
.menu-and-logo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.custom-bk {
    display: none;
}

@media (width <= 520px) {
    .nav-bar-ul {
        display: none;
    }
    
    .component-container {
        flex-direction: column;
    }
    .nav-bar {
        width: 100%;
    }
    .burger-menu {
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin: auto;
    }
    
}