@font-face {
    font-family: custFont;
    src: url(/fonts/AUGUSTUS.ttf);
  }

.component-container {
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;    
    top: 0;
    z-index: 999;
    width: 100%;
    justify-content: space-between;
}
.logo-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-menu {
    display: none;
}
.logo {
    max-height: 150px;
    mix-blend-mode: multiply;
}
.nav-bar {
    width: 50%;
}
.nav-bar-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-sections {
    list-style-type: none;
    color: #fff;
    margin: 0 1rem;
    padding: 8px;
    display: flex;
    align-items: center;
    font-family: custFont, serif;
    font-size: 1.43rem;
    text-transform: lowercase;
}
.menu-responsivo a{
    text-decoration: none;
    font-size: 1.67rem;
    padding: 12px 8px;
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.menu-responsivo a:hover{
    background-color: #fae36e;
}
.menu-responsivo {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    padding: 1.5rem 0;
    position: fixed;
    width: 75%;
    overflow: hidden;
    display: none;
    z-index: 996;
}
@media (width <= 520px) {
    .nav-bar-ul {
        display: none;
    }
    .nav-bar {
        width: 100%;
    }
    .burger-menu {
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin: auto;
        color: #fff;
    }
    .visible {
        display: block;
    }
}