:root {
    --background: #F8F8FF;
    --text: #2C2C2C;
}
.custom-font {
    font-family: 'Crimson', serif;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 1.5rem;
}

.work-article {
    width: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.4) 3px 4px 10px 5px;
}

.work-article h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.6rem;
    color: var(--text);
    transition: color 0.3s ease-out;
}
.work-article p {
    color: #000;
}

.work-article img {
    transition: transform 0.4s ease-in-out;
    height: 100%;
    margin: auto;
    padding: 12px 0;
    aspect-ratio: 16 / 10;
    overflow: hidden;
}

.articles article:hover img {
    transform: scale(1.05);
}

.work-figure {
    width: 100%;
    overflow: hidden;
}