.container-whatsapp {
    position: fixed;
    right: 0;
    bottom: 10px;
    box-sizing: border-box;
    display: flex;
    width: max-content;                 
    background-color: #25d366;
    border-radius: 8px;
    z-index: 888;
}
.container-whatsapp span {
    margin: auto 0;
    padding: .232rem;
    color: #fff;
}
.contact-whatsapp {
    width: 45px;
    height: 45px;
    color: #fff4f4;
}