.container-whatsapp {
    position: fixed;
    right: 20px;
    bottom: 0;
    box-sizing: content-box;
    width: 45px;
    height: 45px;
    display: flex;
    width: max-content;                 
    background-color: #25d366;
    padding: .2742rem;
    margin-right: 1.908rem;
    margin-bottom: 2.1023rem;
    border-radius: 8px;
    z-index: 888;
}
.container-whatsapp span {
    margin: auto 0;
    padding: .132rem;
    color: #fff;
}
.contact-whatsapp {
    width: 45px;
    height: 45px;
    color: #fff4f4;
}